@media (max-width: 1366px) {
	#main-container {
	    background-image: none;
	}
	.sidebar {
	    display: none;
	    box-shadow: 5px 7px 15px 5px rgba(0,0,0,0.15);
	}
	.footer {
	    display: none;
	}
	#article-container {
	    margin-left: 0;
	}
}

@media (max-width: 1024px) {
	.watch-page-container main#main {
	    width: 1184px;
	}
}

@media (max-width: 992px) and (min-width: 481px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
  .container-fluid {
    padding-left: 15px;
    padding-right: 15px;
  }
}