@charset "utf-8";
/* CSS Document */

/*==========*/
/*  
    [Let press Ctrl + f and type of paste the key, then press Enter to search the content ] Title
    Example : You want Import Files => Title is Import Files, or Fonts => Title is Fonts
  
/*==========*/

/* Import Css */
@import url(../vendor/bootstrap/bootstrap.min.css);
@import url(../vendor/fontawesome/font-awesome.min.css);

/*===== Import Files =====*/
/* Fonts */
@font-face {
    font-family: 'proxima_nova';
    src: url(https://cdn0-a.production.vidio.static6.com/assets/proxima-nova-bold-webfont-308d6f50b8564ea093b2ab507065a527f5f0bd5fe4766122af67b6405a4f3f12.eot);
    src: url(https://cdn0-a.production.vidio.static6.com/assets/proxima-nova-bold-webfont-308d6f50b8564ea093b2ab507065a527f5f0bd5fe4766122af67b6405a4f3f12.eot?#iefix) format("embedded-opentype"), url(https://cdn1-a.production.vidio.static6.com/assets/proxima-nova-bold-webfont-min-aa621f59dbb19e1ae6683faea90eb263f48e60fa2701579d1cdf6a48e9fbdca5.woff) format("woff"), url(https://cdn0-a.production.vidio.static6.com/assets/proxima-nova-bold-webfont-min-acc3e45a20cd75e7f83ca06140f3b23e7fdf5558fb6d97b99673580067a7ec96.ttf) format("truetype"), url(https://cdn1-a.production.vidio.static6.com/assets/proxima-nova-bold-webfont-min-d2fefb5c56f4a3dbfaaa13ef1d38493a91c85953b6923b4b88f3d7acc3372f75.svg#proxima_nova_rgbold) format("svg");
    font-weight: 700;
    font-style: normal
}
@font-face {
    font-family: 'proxima_nova';
    src: url(https://cdn0-a.production.vidio.static6.com/assets/proxima-nova-extrabold-webfont-ec6473975fc2e71f5c94feb3c1bc9403a5a288e034fb8275b2e64c87270dbd98.eot);
    src: url(https://cdn0-a.production.vidio.static6.com/assets/proxima-nova-extrabold-webfont-ec6473975fc2e71f5c94feb3c1bc9403a5a288e034fb8275b2e64c87270dbd98.eot?#iefix) format("embedded-opentype"), url(https://cdn0-a.production.vidio.static6.com/assets/proxima-nova-extrabold-webfont-min-19ae8ac71e740d2816c877726e6f58d28174cd58af8a80f80c8b388a0adadd96.woff) format("woff"), url(https://cdn0-a.production.vidio.static6.com/assets/proxima-nova-extrabold-webfont-min-78b93bcccbeef50ab190f0bb3f1f745625874a1494d331028dc606e08e85e1b1.ttf) format("truetype"), url(https://cdn1-a.production.vidio.static6.com/assets/proxima-nova-extrabold-webfont-min-47d205b7085758b00d34c68e83a4922ef214ccf29da1db55a969711efe6325f2.svg#proxima_novaextrabold) format("svg");
    font-weight: 900;
    font-style: normal
}
@font-face {
    font-family: 'proxima_nova';
    src: url(https://cdn1-a.production.vidio.static6.com/assets/proxima-nova-regular-webfont-684f152018383ca69a7a650526acb788d66f82f948f8c88a771ac6ae5023cea0.eot);
    src: url(https://cdn1-a.production.vidio.static6.com/assets/proxima-nova-regular-webfont-684f152018383ca69a7a650526acb788d66f82f948f8c88a771ac6ae5023cea0.eot?#iefix) format("embedded-opentype"), url(https://cdn0-a.production.vidio.static6.com/assets/proxima-nova-regular-webfont-min-4236f8e414c44d67ea5a245f58a0ad0efc54aacefa8c1f24c2ad7909e6b7756b.woff) format("woff"), url(https://cdn1-a.production.vidio.static6.com/assets/proxima-nova-regular-webfont-min-ec9126c44f9e74574e774e207efa529c32a650e3b0d5f231b698efb2502f1000.ttf) format("truetype"), url(https://cdn1-a.production.vidio.static6.com/assets/proxima-nova-regular-webfont-min-0a9f7615e61965260c33b8b533a1fffb888a6ec934827c1a0d97082162f41ec1.svg#proxima_nova_rgregular) format("svg");
    font-weight: 400;
    font-style: normal
}
@font-face {
    font-family: 'proxima_nova';
    src: url(https://cdn0-a.production.vidio.static6.com/assets/proxima-nova-semibold-webfont-82429205c79066ae3e3ec48d399afbba6393ca8b0f0f0bd10836ea42e03f269e.eot);
    src: url(https://cdn0-a.production.vidio.static6.com/assets/proxima-nova-semibold-webfont-82429205c79066ae3e3ec48d399afbba6393ca8b0f0f0bd10836ea42e03f269e.eot?#iefix) format("embedded-opentype"), url(https://cdn0-a.production.vidio.static6.com/assets/proxima-nova-semibold-webfont-min-012f4ef8c7eaab416a717881fccfc6698c5f37f1905eefbd0f5cb7920ff84723.woff) format("woff"), url(https://cdn0-a.production.vidio.static6.com/assets/proxima-nova-semibold-webfont-min-d4cbaf9d56247ef561af3b39802166b91ad6df6fab5924208d412070ed843913.ttf) format("truetype"), url(https://cdn0-a.production.vidio.static6.com/assets/proxima-nova-semibold-webfont-min-50cdeca943ad4f85774a08d25cb7c22956e85068937869127f450b9f72adf823.svg#proxima_novasemibold) format("svg");
    font-weight: 600;
    font-style: normal
}
@font-face {
    font-family: 'Glyphicons Halflings';
    src: url(https://cdn1-a.production.vidio.static6.com/assets/glyphicons-halflings-regular-13634da87d9e23f8c3ed9108ce1724d183a39ad072e73e1b3d8cbf646d2d0407.eot);
    src: url(https://cdn1-a.production.vidio.static6.com/assets/glyphicons-halflings-regular-13634da87d9e23f8c3ed9108ce1724d183a39ad072e73e1b3d8cbf646d2d0407.eot?#iefix) format("embedded-opentype"), url(https://cdn1-a.production.vidio.static6.com/assets/glyphicons-halflings-regular-a26394f7ede100ca118eff2eda08596275a9839b959c226e15439557a5a80742.woff) format("woff"), url(https://cdn1-a.production.vidio.static6.com/assets/glyphicons-halflings-regular-e395044093757d82afcb138957d06a1ea9361bdcf0b442d06a18a8051af57456.ttf) format("truetype"), url(https://cdn0-a.production.vidio.static6.com/assets/glyphicons-halflings-regular-42f60659d265c1a3c30f9fa42abcbb56bd4a53af4d83d316d6dd7a36903c43e5.svg#glyphicons_halflingsregular) format("svg")
}

/*===== Layout Style =====*/
html {
    box-sizing: border-box
}
*,
*::after,
*::before {
    box-sizing: inherit
}
.fonts-loaded body {
    font-family: "proxima_nova", arial, helvetica, sans-serif;
}
body {
    -webkit-font-feature-settings: "kern", "liga", "pnum";
    -ms-font-feature-settings: "kern", "liga", "pnum";
    font-feature-settings: "kern", "liga", "pnum";
    -webkit-font-smoothing: antialiased;
    color: #333;
    font-family: arial, helvetica, sans-serif;
    font-size: 1em;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
    background: #fafafa;
    word-break: break-word;
    margin: 0;
}
a {
    color: #EF423C;
    text-decoration: none;
    -webkit-transition: color 0.1s linear;
    transition: color 0.1s linear;
    text-decoration: none;
}
a:active,
a:focus,
a:hover {
    color: #ce1711
}
a:active,
a:focus {
    outline: none
}
select:focus, button:focus, input:focus { outline: none; }
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea, select, input[type="number"],
input[type="tel"] {
    padding: 8px 10px;
    width: 100%;
    border: none;
    cursor: pointer;
}
ul,
ol {
    margin: 0;
    padding: 0;
}
ul li,
ol li {
    list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 1em;
    line-height: 1.2;
    margin: 0;
    font-weight: normal
}
h1 {
    font-size: 24px
}
h2 {
    font-size: 18px
}
h3 {
    font-size: 16px
}
h4 {
    font-size: 14px
}
h5 {
    font-size: 13px
}
h6 {
    font-size: 12px
}
p {
    margin: 0 0 0.75em
}
hr {
    border-bottom: 1px solid #ddd;
    border-left: none;
    border-right: none;
    border-top: none;
    margin: 1.5em 0
}
img,
picture {
    margin: 0;
    max-width: 100%
}
.container {
    padding-left: 0;
    padding-right: 0;
}
.container-fluid {
    padding-left: 0;
    padding-right: 0;
}
.clearfix { clear: both; }
::-webkit-scrollbar {
    width: 9px
}
::-webkit-scrollbar-track {
    background: white;
    border-radius: 5px
}
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #ddd
}
[class^="icon_"], [class*=" icon_"] {
    display: inline-block;
    width: 12px;
    height: 12px;
    vertical-align: middle;
    background-size: 100%;
}
.invisible {
    visibility: hidden;
}
.dropup, .dropdown {
    position: relative;
}
.container-fluid:before, .container-fluid:after {
    content: " ";
    display: table;
}
.container-fluid:after {
    clear: both;
}
.input-group {
  position: relative;
  display: table;
  border-collapse: separate;
}
.input-group-addon, .input-group-btn, .input-group .form-control {
  display: table-cell;
}
.input-group .form-control {
  position: relative;
  z-index: 2;
  float: left;
  width: 100%;
  margin-bottom: 0;
}
input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], input:not([type]), textarea, select[multiple=multiple], textarea {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,0.06);
  box-sizing: border-box;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em;
  -webkit-transition: border-color;
  transition: border-color;
}
.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857;
  color: #555555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:last-child>.btn, .input-group-btn:last-child>.dropdown__selected, .input-group-btn:last-child>.btn-group>.btn, .input-group-btn:last-child>.btn-group>.dropdown__selected, .input-group-btn:last-child>.dropdown-toggle, .category .input-group-btn:last-child>.morenav-hover, .input-group-btn:first-child>.btn:not(:first-child), .input-group-btn:first-child>.dropdown__selected:not(:first-child), .input-group-btn:first-child>.btn-group:not(:first-child)>.btn, .input-group-btn:first-child>.btn-group:not(:first-child)>.dropdown__selected {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
.input-group-btn>.btn, .input-group-btn>.dropdown__selected {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    padding: 6px 20px;
}
.input-group-btn>.btn, .input-group-btn>.dropdown__selected {
    position: relative;
}
.pull-right, .contest-vote-bar__button, .dropdown_menu, .category .morenav-hover_menu {
    float: right !important;
}
.btn, .dropdown__selected {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.caret-close {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    border-top: 4px dashed;
    border-top: 4px solid \9;
}
.notification {
    position: relative;
}
.hide-me {
    display: none;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}
.button,
.follow-users .follow-users_finish,
.creator-registration_submit,
.button-rounded,
.button-default,
.button-primary,
.button-rounded-primary,
.button-primary-invert, 
.button-invert,
.button-grey,
.button-black, 
.button-white,
.button-follow,
.is-uppercase,
.heading-section,
.button_upload {
    font-weight: 600;
    display: inline-block;
    font-size: 14px;
    padding: 8px 20px;
    text-align: center;
    border-radius: 3px;
    line-height: 1;
}
.is-uppercase, .heading-section, .button_upload {
    text-transform: uppercase;
}
.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 2113;
    background: rgba(0,0,0,0.8);
    display: none;
}

/*===== Header =====*/
header#navbar {
    background: white;
    border-top: 1px solid #fff;
    border-radius: 0px;
    color: #ffffff;
    margin-bottom: 0px;
    padding: 0;
    z-index: 2117;
    min-width: 800px;
    width: 100%;
}
.site-header {
    border-bottom: 1px solid #ddd;
}
.site-header_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.site-header_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-width: 1000px;
    background: #fff;
}
.site-header_left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
/* trigger */
.site-header .nav-trigger {
    float: left;
    width: 50px;
}
.site-header .nav-trigger_link {
    display: block;
    margin: 14.5px 5px 19px;
    margin-left: 20px;
}
.site-header .nav-trigger_bar {
    width: 24px;
    height: 24px;
    margin: 2.5px 0;
}
.icon_bar {
    background-image: url(../images/icon_bar.svg);
}
/* Logo */
.site-header .vidio-logo {
    margin-top: 10px;
    margin-left: 20px;
    display: inline-block;
}
.site-header .vidio-logo_image {
    display: block;
    width: 140px;
    height: 35px;
}
/* Menu */
.main-menu .navbar-nav .open .dropdown-menu,
.main-menu .navbar-nav .open .dropdown_menu,
.main-menu .navbar-nav .open .category .morenav-hover_menu,
.category .main-menu .navbar-nav .open .morenav-hover_menu {
    position: absolute;
    float: left;
    width: auto;
    margin-top: 0;
    background-color: white;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175)
}
.main-menu:after {
    border-top: 1px solid #fff;
    display: block
}
.category {
    line-height: 60px;
    padding-right: 30px
}
.category_root {
    color: #333;
    cursor: pointer
}
.category_wrapper {
    left: 0;
    right: 0;
    border: 0;
    position: absolute;
    text-align: center;
    background: #ffffff;
    line-height: 30px;
    border-bottom: 1px solid #ddd;
    z-index: -1;
    top: 64px
}
.category_nav {
    width: 960px;
    margin: auto;
    overflow: hidden;
    height: 40px
}
.category_nav_list>li {
    display: inline-block
}
.category_nav_list .dropdown-toggle,
.category_nav_list .category .morenav-hover,
.category .category_nav_list .morenav-hover {
    color: #333;
    display: inline-block;
    padding: 5px 0;
    width: 90px
}
.category_nav_list .morenav-hover_menu li a {
    padding: 7px 20px;
    width: auto
}
.category_nav_list .morenav-hover_menu li a:after {
    background: transparent
}
.category_nav_list .morenav-hover_menu li a:hover:after {
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    bottom: 0;
    left: 0
}
.category_nav_list .morenav-hover_menu li a.category_nav_list_item--active {
    background: #fafafa;
    color: #333 !important
}
.category_nav_list .morenav-hover_menu li a.category_nav_list_item--active:after {
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    bottom: 0;
    left: 0;
    background: #EF423C
}
.category_nav_list_item {
    padding: 5px 25px;
    display: inline-block;
    position: relative;
    font-size: 13px;
    color: #333
}
.category_nav_list_item:hover:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background: #EF423C
}
.category_nav_list_item--active:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background: #EF423C
}
.category_nav_list_more ul {
    display: none;
    position: absolute;
    background: #ffffff
}
.category_nav_list_more:hover ul {
    display: block
}
.category_nav_list_livestreaming {
    position: relative
}
.category_nav_list_livestreaming:before {
    content: '';
    position: absolute;
    background-image: url(../images/icon-streaming.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    left: 0;
    top: 53%;
    -webkit-transform: translatey(-50%);
    transform: translatey(-50%)
}
.category_nav_list:hover>li>.category_nav_list_item,
.category_nav_list:hover .morenav-hover {
    color: #ccc
}
.category_nav_list:hover>li>.category_nav_list_item:hover,
.category_nav_list:hover .morenav-hover:hover {
    color: #333
}
.category_nav_list:hover>li>.category_nav_list_item--active,
.category_nav_list:hover .morenav-hover--active {
    color: #333
}
.category .morenav-hover_menu {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    top: 3px !important;
    left: 0;
    padding: 6px 0 !important
}
.category .morenav-hover_menu:hover {
    display: block
}
.category .morenav-hover_menu:hover .category_nav_list_item:hover {
    color: #333
}
.dropdown-menu.pull-right, .dropdown-menu.contest-vote-bar_button, .dropdown_menu, .category .morenav-hover_menu {
    right: 0;
    left: auto;
}
.category .morenav-hover:hover+.morenav-hover_menu {
    display: block !important
}
.dropdown-menu, .dropdown__menu, .category .morenav-hover__menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0,0,0,0.175);
    background-clip: padding-box;
}
.dropdown-menu, .dropdown_menu, .category .morenav-hover_menu {
    box-shadow: 0 6px 12px rgba(0,0,0,0.05);
    -moz-box-shadow: 0 6px 12px rgba(0,0,0,0.05);
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.05);
}
.dropdown_menu, .category .morenav-hover_menu {
    min-width: 0;
    top: 35px;
    width: auto;
}
.category .morenav-hover_menu {
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
    top: 3px !important;
    left: 0;
    padding: 6px 0 !important;
}
.dropdown_menu, .category .morenav-hover_menu {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    display: none;
    overflow: visible;
    position: absolute;
    text-align: left;
    top: 45px;
    min-width: 228px;
    width: 100%;
    z-index: 99999;
    border-radius: 3px;
    border: 1px solid #ccc;
    background: white;
    padding: 8px;
}
.dropdown-menu>li>a, .dropdown_menu>li>a, .category .morenav-hover_menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857;
    color: #333333;
    white-space: nowrap;
}
.dropdown-menu>li>a:hover, .dropdown_menu>li>a:hover, .category .morenav-hover_menu>li>a:hover, .dropdown-menu>li>a:focus, .dropdown_menu>li>a:focus, .category .morenav-hover_menu>li>a:focus {
    text-decoration: none;
    color: #262626;
    background-color: #f5f5f5;
}
.category__nav__list__item:hover:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background: #EF423C;
}
.category_nav_list_item:hover:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background: #EF423C;
}
.category_nav_list .morenav-hover_menu li a:after {
    background: transparent;
}
.category_nav_list .morenav-hover_menu li a:hover:after {
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    bottom: 0;
    left: 0;
}
/* Site Header Center */
.site-header__center {
    width: 33%;
}
/* Search */
.main-menu__search {
    width: 100%;
}
.main-menu__search .input-group {
    width: 100%;
}
.site-header .twitter-typeahead {
    vertical-align: bottom;
    width: 100%;
    position: relative;
    display: inline-block;
}
.site-header__search input.main-menu__search-input {
  height: 40px;
  border: 1px solid #b3b2b2;
  padding: 5px 15px;
  box-shadow: none;
  font-size: 16px;
  background: #fff;
}
.input-group-md pre {
    position: absolute;
    visibility: hidden;
    white-space: pre;
    font-family: proxima_nova, arial, helvetica, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-weight: 400;
    word-spacing: 0px;
    letter-spacing: 0px;
    text-indent: 0px;
    text-rendering: auto;
    text-transform: none;
}
.site-header__tt-menu {
    background: #fff;
    width: 100%;
    padding: 0px 15px;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.24);
    position: absolute;
    top: 100%;
    left: 0px;
    z-index: 100;
    display: block;
}
.site-header__tt-suggestion {
    padding: 7px 0;
}
.site-header__tt-suggestion a[data-source="PopularKeyword"] {
    color: #333;
    background: url(../images/icn-trending.png) no-repeat left center;
    background-size: 16px 16px;
    padding-left: 31px;
}
.site-header__tt-suggestion a {
    display: block;
}
.reset-form {
    background-image: url(../images/clear.png);
    background-color: transparent !important;
    background-repeat: no-repeat;
    padding: 0 !important;
    background-size: 15px 15px;
    height: 15px;
    width: 15px;
    display: none;
    position: absolute;
    right: 41px;
    z-index: 111;
    color: #ccc;
    top: 13px;
    text-indent: -9999em;
    -webkit-appearance: none !important;
    background-color: transparent;
    border: none;
}
.input-group-btn {
    position: relative;
    font-size: 0;
    white-space: nowrap;
}
.input-group-addon, .input-group-btn {
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
}
.input-search {
    position: absolute;
    right: 4px;
    top: 0px;
}
.input-group-btn:last-child>.btn, .input-group-btn:last-child>.dropdown__selected, .input-group-btn:last-child>.btn-group {
    z-index: 2;
    margin-left: -1px;
}
.main-menu__search-icon {
    height: 40px;
    background: transparent;
    border: none;
    border-left: none;
    color: #999;
}
.icon__search {
    background-image: url(../images/icon__search.svg);
}
/* Login */
.site-header_user-upload {
    text-align: right;
    padding-right: 15px;
}
.site-header_explore-button, .site-header_login-button, .site-header_upload-button, .site-header_following-button {
    display: inline-block;
    padding: 5px 10px;
    margin: 0 15px;
    font-size: 14px;
    font-weight: 600;
    color: #999;
}
.site-header_upload-button {
    margin: 0px;
    padding: 0px 20px;
}
.site-header_login-button {
    color: #EF423C;
}
.site-header_explore-button:hover, .site-header_login-button:hover, .site-header_upload-button:hover, .site-header_following-button:hover {
    color: #333;
}

/*===== Main Container =====*/
/* Main Common */
#main-container {
    padding: 0;
    min-height: 96vh;
}
#main-container #content-column {
    float: right;
    width: 100%;
}
.site-content {
    margin-left: 250px;
    margin-top: 106px;
    overflow: hidden;
}
/*.menu-close .site-content {
    margin-left: 0;
}*/
/* Live Streaming */
.livestreaming-notification {
    position: relative;
    padding: 12px 40px;
    background-color: #4083d4;
    text-align: center;
    border-top: 1px solid rgba(0,0,0,0.1);
    border-bottom: 1px solid rgba(0,0,0,0.1);
    margin-bottom: 20px;
}
.livestreaming-notification-content {
    display: block;
    color: #fff;
}
.livestreaming-notification_icon {
    -webkit-filter: contrast(7);
    filter: contrast(7);
    display: inline-block;
    background-image: url(../images/icon-streaming.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 20px;
    height: 15px;
    position: absolute;
    top: 35%;
}
.livestreaming-notification-content_text {
    display: inline-block;
    max-width: 80%;
    margin-left: 30px;
}
.livestreaming-notification-close {
    -webkit-transform: translatey(-50%);
    transform: translatey(-50%);
    position: absolute;
    height: 14px;
    width: 14px;
    right: 20px;
    cursor: pointer;
    top: 50%;
    color: #fff;
}
.livestreaming-notification-close_link {
    color: #fff;
}
.livestreaming-notification-close span:before, .livestreaming-notification-close span:after {
    content: '';
    position: absolute;
    width: 16px;
    height: 2px;
    background: #fff;
    top: 6px;
    left: -1px;
}
.livestreaming-notification-close span:before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.livestreaming-notification-close span:after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.notification-session_notice {
    width: 172px;
    height: 33px;
    border-radius: 100px;
    background-color: rgba(51,51,51,0.95);
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
    border: solid 1px #222222;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    line-height: 30px;
    text-align: center;
    position: fixed;
    top: 170px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 99;
}
.notification-notice, .notification-warning, .notification-error {
    padding: 11px;
    text-align: center;
    font-weight: 700;
    border-top: 1px solid rgba(0,0,0,0.1);
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.notification-notice {
    background: #3ac852;
    color: #fff;
}
.notification-warning-user-confirmation, .notification-warning {
    background: #fae071;
    color: rgba(0,0,0,0.62);
}
.notification-error {
    background: #e94039;
    color: #fff;
}
.notification-notice, .notification-warning, .notification-warning-user-confirmation, .notification-error {
    padding: 11px;
    text-align: center;
    border-top: 1px solid rgba(0,0,0,0.1);
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.notification-close {
    position: absolute;
    top: 50%;
    right: 20px;
    cursor: pointer;
    color: #fff;
    -webkit-transform: translatey(-50%);
    transform: translatey(-50%);
}
.notification-close:before, .notification-close:after {
    content: '';
    position: absolute;
    width: 16px;
    height: 2px;
    background: #fff;
    top: 50%;
    right: 10px;
    -webkit-transform: translatey(-50%);
    transform: translatey(-50%);
}
.notification-close:before, .notification-close:after {
    content: '';
    position: absolute;
    width: 16px;
    height: 2px;
    background: #fff;
    top: 50%;
    right: 10px;
    -webkit-transform: translatey(-50%);
    transform: translatey(-50%);
}
.notification-close:before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.notification-close:after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.mobile-notice {
    position: relative;
    display: none;
    width: 100%;
    max-width: 1000px;
    margin: 20px auto 0;
    padding: 5px;
    font-size: 13px;
    text-align: center;
    font-weight: 600;
    color: #fff;
    border-radius: 3px;
    background: #2ea4da;
}
/* ad */
.ad {
    margin-top: 25px;
    text-align: center;
    width: 728px;
    margin-left: auto;
    margin-right: auto;
}
.ad {
    width: 728px;
    margin-left: auto;
    margin-right: auto;
}
/* Slide */

/*===== Main =====*/
main#main, article#header, article#footer {
    max-width: 1050px !important;
}
#main-container #content-column #article-container #main {
    padding: 25px;
    max-width: 1200px;
    margin: 0 auto;
}
.video-grid_container {
    margin-bottom: 15px;
}
.home .title,
.videos-container .title {
    font-size: 18px;
    color: #000;
    font-weight: 700;
    text-transform: uppercase;
}
.video-grid {
    margin-bottom: 10px;
}
.video-widget {
    background: white;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
    border-radius: 2px;
    display: block;
}
.video-widget_thumbnail {
    position: relative;
    height: 132px;
    background: #eeeeee;
}
.frame {
    position: relative;
}
.video-widget_thumbnail-image {
    border-radius: 2px 2px 0 0;
    height: 132px;
    display: block;
    width: 100%;
}
.video-widget_duration {
    background: rgba(0,0,0,0.6) !important;
    bottom: 5px;
    color: white;
    display: inline-block;
    font-weight: 400;
    font-size: 12px;
    padding: 2px 5px;
    position: absolute;
    right: 5px;
}
.video-widget_caption {
    position: relative;
    line-height: 1.1;
    padding: 10px;
    height: 86px;
}
.video-widget_manage {
    display: none;
    position: absolute;
    cursor: pointer;
    width: 10px;
    right: 5px;
    top: 10px;
}
.video-widget_title {
    color: #000;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
    word-wrap: break-word;
    text-overflow: ellipsis;
    font-weight: 600;
    font-size: 14px;
    max-height: 2.5em;
    overflow: hidden;
    margin-bottom: 3px;
    width: 85%;
    line-height: 1.3;
}
.video-widget_manage:empty ~ .video-widget_title {
    width: 100%;
}
.video-widget_title-wrap {
    font-weight: 600;
    margin: 0;
    font-size: 14px;
}
.video-widget_username {
    color: #333;
    font-weight: 400;
    font-size: 11px;
    text-overflow: ellipsis;
    max-width: 120px;
    margin-top: 0px;
    white-space: nowrap;
    overflow: hidden;
}
.user-name {
    display: inline-block;
    vertical-align: middle;
}
.video-widget__view-count {
    display: block;
    line-height: 1.4;
    float: left;
    width: 80%;
}
.video-widget_view-count,
.video-widget_like-count,
.video-widget_comment-count {
    color: #84909f;
    font-size: 11px;
}

/*===== Sidebar =====*/
.sidebar {
    position: fixed;
    float: left;
    width: 250px;
    margin-right: -250px;
    margin-top: 101px;
    color: #ffffff;
    z-index: 2115;
    height: 100%;
    background-color: white;
    border-right: 1px solid #f0f0f0;
    /*overflow-y: scroll;*/
    padding-bottom: 5em;
    display: block;
}
.sidebar_login {
    border-bottom: 1px solid #f0f0f0;
    padding: 15px 0;
    text-align: center;
    background: #f7f7f7;
}
.button_sleek, .button_edit-profile {
    color: #575757;
    background-image: -webkit-linear-gradient(bottom, #e6e6e6, #f7f7f7);
    background-image: linear-gradient(to top, #e6e6e6, #f7f7f7);
    border: 1px solid #ccc;
}
.sidebar_section-row {
    margin-left: 0;
    padding: 0 0 0 25px;
}
.sidebar_menu {
    list-style: none;
    padding: 0;
    margin: 0;
}
.sidebar_menu-url {
    position: relative;
    color: #3a3a3a;
    font-weight: 600;
    font-size: 13px;
    display: block;
    padding: 7px 15px 7px 0;
}
.sidebar_menu_link {
    padding-left: 25px;
}
.sidebar_menu_link:after {
    content: '';
    position: absolute;
    width: 20px;
    height: 16px;
    background-image: url(../images/menu-icons.png);
    background-repeat: no-repeat;
    background-size: 200%;
    left: 0;
}
.sidebar_home:after {
    background-position: 1px -76px;
}
.sidebar_categories:after {
    background-position: 1px -205px;
}
.sidebar_livestreamings:after {
    background-position: 1px -102px;
}
.sidebar_ranking:after {
    background-position: 1px -127px;
}
.sidebar_contests:after {
    background-position: 1px -153px;
}
.sidebar_recommended-users:after {
    background-position: 1px -178px;
}
.sidebar_recommended-collections:after {
    background-position: 1px -205px;
}
.sidebar_menu-url-collapsible {
    background-image: url(../images/icon-arrow.png);
    background-repeat: no-repeat;
    background-size: 5px 9px;
    background-position: right 20px center;
}
.sidebar_section-column {
    -webkit-transition-property: all;
    -webkit-transition-duration: 0.2s;
    -webkit-transition-delay: 0.1s;
    -webkit-transition-timing-function: ease-out;
}
.sidebar_section-column {
    z-index: -1;
    display: block;
    position: absolute;
    left: -175%;
    top: 0;
    border-right: 1px solid #f0f0f0;
    background: #f7f7f7;
    width: 340px;
    padding: 0 15px;
    border-left: 1px solid #f0f0f0;
    list-style: none;
    float: left;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: 120px;
}
.sidebar_menu-row-collapsible:hover .sidebar_section-column {
    left: 100%;
}
.sidebar_section-group, .sidebar_section-group-right {
    font-size: 13px;
    color: #333;
    font-weight: 600;
    margin-top: 10px;
    display: block;
    padding: 7px 15px 15px 0;
    border-bottom: 1px solid #f0f0f0;
    position: relative;
    overflow: hidden;
    margin-bottom: 15px;
}
.list-unstyled, .site-footer_menu, .sidebar-recommended-user_list {
    padding-left: 0;
    list-style: none;
}
.sidebar-recommended-user_item {
    margin-bottom: 8px;
}
.sidebar-recommended-user_avatar {
    margin-right: 10px;
    float: left;
    border-radius: 50% !important;
}
.user-avatar {
    border: 2px solid #e9e9e9;
    border-radius: 50%;
    max-width: none;
    vertical-align: middle;
}
.sidebar-recommended-user_name {
    color: #000;
    display: inline-block;
    font-weight: 600;
    font-size: 13px;
    max-width: 120px;
    line-height: 35px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.user-name {
    display: inline-block;
    vertical-align: middle;
}
.verified-user {
    background-image: url(../images/icn_verify.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-left: 5px;
    position: relative;
    vertical-align: middle;
}
.verified-user-small {
    width: 9px;
    height: 9px;
}
.sidebar-recommended-user_follow {
    float: right;
    margin-top: 0 !important;
}
a.button-follow {
    background: #d23c37;
    border: 1px solid #d23c37;
    color: #ffffff;
}
.button-follow {
    background: #d23c37;
    border: 1px solid #d23c37;
    color: #ffffff;
    min-width: 100px;
    line-height: 16px;
    padding: 7px 20px;
}
.button-follow:before {
    content: url(../images/icon__following.svg);
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 5px;
    vertical-align: bottom;
}
.button-follow:after {
    vertical-align: middle;
    content: attr(data-follow-content);
    display: inline-block;
    line-height: 14px;
}
.button-follow:hover, .button-follow:focus {
    background: #EF423C;
    border: 1px solid #EF423C;
}
.sidebar_section-group, .sidebar_section-group-right {
    font-size: 13px;
    color: #333;
    font-weight: 600;
    margin-top: 10px;
    display: block;
    padding: 7px 15px 15px 0;
    border-bottom: 1px solid #f0f0f0;
    position: relative;
    overflow: hidden;
    margin-bottom: 15px;
}
.sidebar_section-group-right {
    position: absolute;
    right: 0;
    top: 0;
    border-bottom: none;
}
.sidebar_section-column .sidebar_menu {
    min-height: 800px;
    height: auto;
}
.sidebar_menu-collections {
    height: 122px;
    margin-bottom: 18px;
}
.sidebar_menu-collections {
    float: left;
    width: 100%;
}
.collection-widget_container {
    background: #fff;
}
.collection-widget_thumbnail {
    display: inline-block;
    float: left;
    width: 200px;
    height: 200px;
    position: relative;
}
.collection-widget-sidebar .collection-widget_thumbnail {
    width: 123px;
    height: 122px;
}
.desktop-picture, .desktop-picture_img {
    display: block;
    margin: auto;
}
.collection-widget_thumbnail:after {
    content: "";
    width: 48px;
    height: 48px;
    display: block;
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-image: url(../images/play-all-icon.png);
    background-size: 32px;
    background-color: rgba(0,0,0,0.5);
    padding: 10px 8px;
    border-radius: 100%;
    background-repeat: no-repeat;
    background-position: 8px;
}
.collection-widget--sidebar .collection-widget_thumbnail:after {
    width: 40px;
    height: 40px;
    background-size: 24px;
    background-color: rgba(0,0,0,0.69);
}
.collection-widget_content {
    display: inline-block;
    margin-left: 20px;
    padding: 20px 20px 20px 0;
}
.collection-widget-sidebar .collection-widget_content {
    padding: 0;
    margin: 11px 13px 4px 11px;
    max-width: 145px;
}
.collection-widget_eading-title {
    margin: 0;
}
.collection-widget_heading-title-link {
    display: block;
    overflow: hidden;
    max-width: 220px;
    color: #000;
    font-weight: 600;
    font-size: 16px;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.collection-widget-sidebar .collection-widget_heading-title-link {
    font-size: 12px;
}
.collection-widget_meta {
    font-size: 12px;
    color: #575757;
    margin: 5px 0 10px 0;
}
.collection-widget-sidebar .collection-widget_meta {
    margin: 0 0 12px 0;
}
.collection-widget_meta-author {
    font-size: 14px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.collection-widget-sidebar .collection-widget_meta-author {
    font-size: 12px;
}
.collection-widget-sidebar .collection-widget_meta-author a {
    color: #333;
}
.collection-widget_videolist-item {
    max-width: 500px;
    width: 100%;
    background: url(../images/play-icon.png) no-repeat scroll 0/10px auto;
    padding: 5px 0 2px 14px;
    line-height: 1;
    border-bottom: 1px solid #f0f0f0;
}
.collection-widget-sidebar .collection-widget_videolist-item {
    padding: 3px 0 0 14px;
}
.collection-widget_videolist-item-link {
    color: #979797;
    font-size: 12px;
    display: inline-block;
    max-width: 220px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 2px 0;
}
.collection-widget-sidebar .collection-widget_videolist-item-link {
    font-size: 10px;
}
.collection-widget_more-link {
    color: #979797;
    font-size: 12px;
    padding: 2px 0;
}
.collection-widget-sidebar .collection-widget_more-link {
    font-size: 10px;
}

/*===== Footer =====*/
.submenu_container {
    width: 340px;
    position: fixed;
    left: -340px;
    top: 101px;
    height: 100%;
    z-index: 2114;
}
.site-footer {
    font-size: 12px;
    position: fixed;
    background: #ffffff;
    color: #000;
    padding: 13px 0 18px;
    z-index: 2115;
    text-align: center;
    bottom: 0;
    width: 250px;
    border-top: 1px solid #f0f0f0;
    border-right: 1px solid #f0f0f0;
}
.site-footer_copyright {
    font-size: 12px;
    font-weight: 400;
    color: #999;
}
.site-footer_copyright span {
    color: #EF423C;
}
.site-footer_menu {
    padding: 0;
    display: inline-block;
    margin: 0;
}
.site-footer_menu {
    display: inline-block;
    position: relative;
    top: 5px;
}
.site-footer_menu li {
    margin: 0 5px;
    float: none;
    display: inline-block;
}
.site-footer_menu-link {
    color: #333;
    font-size: 10px;
    font-weight: 400;
}
.sidebar_section {
    background: #ffffff;
    color: #84909f;
    font-size: 12px;
    list-style: none;
    padding: 20px 0 0 0;
    margin-bottom: 0;
}
.sidebar_section:last-child:after {
    border-bottom: none;
}
.sidebar_section:after {
    content: "";
    border-bottom: 1px solid #f0f0f0;
    display: block;
    margin: 30px 0 0;
}
.sidebar_section-connect {
    padding: 0 0 10px 25px;
}
.site-footer_language {
    width: 136px;
    margin: 15px auto;
    position: relative;
}
.site-footer_language-button {
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 2px;
}
.site-footer_language-button a {
    display: block;
    font-size: 12px;
    color: #333;
    line-height: 1;
    padding: 8px 0 8px 30px;
    text-align: left;
    background: url(../images/icon-language.svg) no-repeat 10px;
}
.site-footer_language-table {
    position: absolute;
    top: -110px;
    left: -27px;
    width: 190px;
    background: #ffffff;
    height: 100px;
    padding: 5px 0;
    box-shadow: 0 0 10px 0 rgba(17,12,12,0.3);
}
.site-footer_language-choice-active {
    background: url(../images/icon-tick.svg) no-repeat top 12px right 12px;
}
.site-footer_language-choice a {
    display: block;
    text-align: left;
    padding: 11px 0 11px 16px;
    font-size: 14px;
    color: #999;
}
.site-footer_language-choice-active a {
    color: #333;
}

.sidebar_section-connect-title {
    color: #84909f;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 15px;
}
.sidebar_section-connect_item {
    height: 25px;
    padding-left: 32px;
    line-height: 25px;
    vertical-align: middle;
    color: #333;
    display: block;
    line-height: 25px !important;
    margin-bottom: 10px;
    font-size: 13px;
    font-weight: 600;
}
.sidebar_section-connect_item-twitter {
    background: url("../images/icon-twitter.png") no-repeat top left;
    background-size: contain;
}
.sidebar_section-connect_item-facebook {
    background: url("../images/icon-facebook.png") no-repeat top left;
    background-size: contain;
}

/*===== Back To Top =====*/
.td-scroll-up {
  cursor: pointer;
  position: fixed;
  bottom: 4px;
  right: 5px;
  width: 40px;
  height: 40px;
  background-color: #252525;
  z-index: 1;
  transform: translate3d(0, 70px, 0);
  -webkit-transform: translate3d(0, 70px, 0);
  -moz-transform: translate3d(0, 70px, 0);
  -ms-transform: translate3d(0, 70px, 0);
  -o-transform: translate3d(0, 70px, 0);
  -webkit-transition: transform 0.4s cubic-bezier(0.55, 0, 0.1, 1) 0s;
  -moz-transition: transform 0.4s cubic-bezier(0.55, 0, 0.1, 1) 0s;
  -o-transition: transform 0.4s cubic-bezier(0.55, 0, 0.1, 1) 0s;
  transition: transform 0.4s cubic-bezier(0.55, 0, 0.1, 1) 0s;
}
.td-scroll-up-visible {
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
}
.td-scroll-up i {
  position: relative;
  color: #fff;
  font-size: 20px;
  display: block;
  text-align: center;
  width: 40px;
  top: 7px;
}
.td-scroll-up:hover {
  color: #fff;
  background: #707070;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
