header#navbar {
    position: fixed;
    width: 100%;
}
.sidebar__menu-row--collapsible:hover .sidebar__section-column {
    display: block;
    border-left: 0;
    width: 340px;
    position: fixed;
    left: 250px;
    top: 101px;
    height: 100%;
    z-index: 2114;
}